<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title></title>
  </head>
  <body>
    <div class="form-panel">
{% if register_status %}
<div class="succontainer">
<img src="{% static 'images/done.gif' %}" alt="">
<h1>Registration Completed</h1>
<p> Click to <a href="{% url 'myapp:login' %}">Login</a></p>
</div>
<a href="#"> Click here to home page</a>
{% else %}
<div class="regcontainer">
<form enctype="multipart/form-data" method="post">
  <h2> Register Here </h2>
  <table>
{{ user_form.as_table }}
{{ user_details_form.as_table }}
{% csrf_token %}
</table>
<button type="submit" name="button"> Register </button>
<p>Already have account.. <a href="{% url 'myapp:login' %}">Login Here</a></p>
</form>
{% endif %}
</div>
</div>
  </body>
</html>
